<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="welcome-container">
    <h1 id="typewriter"></h1> 
     <p>Are you ready to manage your money like a pro?</p>
     <a href= "/why_track#why-track" class="start-button">Get started</a>
     </div>
     

     <script>
        const text= "Welcome to Wallet Tracker";
        const speed= 80;
        let index = 0;  

        function typeWriter() {
            if (index < text.length) {
                document.getElementById("typewriter").innerHTML += text.charAt(index);
                index++;
                setTimeout(typeWriter, speed);
            }
        }

    window.onload = typeWriter;
     </script>

</body>


</html>